*.o
*.d

*~
\#*\#
.\#*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*.swp

.dir-locals.el

*_flymake.*

GPATH
GRTAGS
GTAGS
TAGS

.clang_complete

/bochsout.txt
/os.img
/os.iso
/kernel/kernel.sym
